:root {
  --very-light-pink: #C7C7C7;
  --very-dark-pink: #686868;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --white: #FFFFFF;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --filter-very-dark-pink: invert(40%) sepia(10%) saturate(0%) hue-rotate(360deg) brightness(99%) contrast(87%);
}