@import 'vars';

.Checkout {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.Checkout-container {
  width: 300px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.Checkout-content {
  display: flex;
  flex-direction: column;
}
