@import 'vars';

.ProductDetail {
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
}
.ProductDetail-close {
  background-color: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
  padding: 12px;
  border-radius: 50%;
}
.ProductDetail-close:hover {
  cursor: pointer;
}
.ProductDetail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

@media (max-width: 640px) {
  .ProductDetail {
      width: 100%;
  }
}